[submodule "wp"]
	path = wp
	url = git@github.com:WordPress/WordPress.git
[submodule "content/themes/roots"]
	path = content/themes/roots
	url = git@github.com:roots/roots.git
[submodule "cap"]
	path = cap
	url = git@github.com:ivoke/wp-stack.git
